body {
    background-image: url(assets/bg-image.jpg);
    background-size: cover;
}

#page {
    width: 800px;
    padding: 24px;
    background-color: #f0e8c2;
    border-radius: 24px;
    margin: 48px auto;
    box-sizing: border-box;
}

img {
    border-radius: 16px;
}
